{% extends "base.html" %}
{% block title %}菜单管理{% end %}
{% block css %}
        <link rel="stylesheet" href="{{static_url("css/zTreeStyle.css")}}" type="text/css"/>
{% end %}
{% block content %}    
                <div class="left_panel">
                    <ul id="menu_tree" class="ztree">
                    </ul>
                </div>
                <div class="main_panel">
                    <form id="menu_form" method="post" action="/backendmenu">
                        {% module xsrf_form_html() %}
                        <input type="hidden" id="mode" name="mode" value ="2" />      
                            <table class="form_fields">
                                <tr>
                                    <th colspan="2">菜单信息</th>
                                </tr>
                                <tr>
                                    <td><label for="menu_id">菜单ID</label></td>
                                    <td><input type="text" disabled="disabled" id="menu_id" name="menu_id" value="" /></td>
                                </tr>
                                <tr>
                                    <td><label for="menu_name">菜单名称</label></td>
                                    <td><input type="text" id="menu_name" name="menu_name" value="" /></td>
                                </tr>
                                <tr>
                                    <td><label for="url">菜单路径</label></td>
                                    <td><input type="text" id="url" name="url" value=""/></td>
                                </tr>
                                <tr>
                                    <td><label for="parent_id">父菜单</label></td>
                                    <td><input type="text" id="parent_id" name="parent_id" value="" /></td>
                                </tr> 
                                <tr>
                                    <td class="btn_area" colspan="2">
                                        <input type="button" onclick="javascript:return addMenu();" value="新增"/>
                                        <input type="button" onclick="javascript:return deleteMenu();" value="删除" />
                                        <input type="submit" value="提交"/>
                                    </td>
                                </tr>
                            </table>
                    </form>  
                </div>
{% end %}
{% block js %}
        <script type="text/javascript" src="{{static_url("js/jquery-1.7.2.min.js")}}"></script>
        <script type="text/javascript" src="{{static_url("js/jquery.ztree.core-3.5.min.js")}}"></script>
        <script type="text/javascript">
var EDIT = 1, ADD = 2, DELE = 3;

var deleteMenu = function(){
    if ($("#mode").val() === ADD) {
        alert("请选择菜单");
    } else if (window.confirm("是否删除" + $("#menu_name").val() + "?")) {
        //check whether exists sub menu
        var is_exists_submenu = false;
        $.each(zNodes, function(index, obj){
            if (obj.parent_id == $("#menu_id").val()) {
                is_exists_submenu = true; 
                return false;
            }
        });
        if (is_exists_submenu) {
            alert("请删除所有子菜单后再进行删除");
            return false;
        }
        $("#mode").val(DELE);  
        $("#menu_form").submit();
    }
    return false;
};
var addMenu = function(){
    $("#menu_id").val("");
    $("#menu_name").val("");
    $("#url").val("");
    $("#parent_id").val("");
    $("#menu_id").prop("disabled", false);  
    $("#mode").val(ADD);
    return false;
};
var setting = {
    callback : {
        onClick : function(event, treeId, treeNode, clickFlag) {
            //show menu info in form
            if (treeNode) {
                $("#menu_id").val(treeNode.menu_id);
                $("#menu_name").val(treeNode.menu_name);
                $("#url").val(treeNode.url);
                $("#parent_id").val(treeNode.parent_id);
                $("#mode").val(EDIT);
            } 
		}
    },
    data: {
        key : {
            name : "menu_name"
        },
		simpleData: {
		    enable: true,
            idKey : "menu_id",
            pIdKey : "parent_id",
            rootPId : null
		}
				
	}
			
};
var zNodes ={% raw json_encode(menus)%};

$(document).ready(function(){
	$.fn.zTree.init($("#menu_tree"), setting, zNodes);
    //bind form onsubmit
    $("#menu_form").on("submit", function(){
            //enable disable fields
            $("#menu_id").prop("disabled", false);  
            return true;
        })
});
            
        </script>
{% end %}
