@charset "UTF-8";
ul {
    list-style : none;
}

header {
    .container {
        background : url(images/air.png) repeat; 
        /*
        nav {
            margin : 0 -15px;    
        }
        */
    }
    
}

.container {
    background-color : white;

    #index_logo {
        background : url(images/700_190.png) no-repeat; 
        width : 700px;
        height : 190px;
    }
}

@media (max-width: 992px) {
    .container {
        #index_logo {
            background : url(images/300_190.png) no-repeat; 
            width : 300px;
            height : 190px;
        }
    }
}
