@charset "UTF-8";
ul {
    list-style : none;
}

header {
    .container {
        background : url(images/air.png) repeat; 
        /*
        nav {
            margin : 0 -15px;    
        }
        */
    }
    
}

.container {
    background-color : white;
}
