@charset "utf-8";

*{
	margin : 0px;
	padding : 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/** 设置默认字体 **/
body, button, input, select, textarea /* for ie */ {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; }
/*#F7F7F7;*/
body {
	font-size : 13px;
    color : grey;
	background-color : lightblue;
}

ul{
	list-style : none;
}

h2 {
	font-size : 20px;
}

h3 {
	font-size : 20px;
}

a{
	text-decoration : none;
}

p {
    font-size: 14px;
    margin: 0 0 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 180%;
}

.container{
    padding : 0 10px 0 10px;
    width : 800px;
    margin : 0 auto;
    height : 100%;
    min-height : 600px;
    background-color : white;
}

#header{
    width : 100%;
    min-height : 99px;
    border-bottom : 1px solid lightblue;
}

#header>.user_bar{
    width : 100%;
    text-align : right;
    height : 20px;
}

#header>h1{
    text-align : center;
    font-size : 32px;
    height : 59px;
}

#header>.nav{
    height : 20px;
    overflow : hidden;
    width : 100%;
}

#header>.nav>li{
    float : left;
    margin-right : 10px;
}

#header>.nav a{
    color : gray;    
}

#content {
    width : 100%;
    min-height : 480px;
}
#footer{
    width : 100%;
    min-height : 19px;
    border-top : 1px solid lightblue;
}

.warn_info {
    color : red;
}

.unactive{
    color : grey;
}


/* login relative styles */
#login_area{
    width : 400px;
    padding-top : 200px;
    margin : 0 auto;
    text-align : center;
}

#login_area>h1{
    font-size : 30px;
}

#login_form{
    margin-top : 50px;
    width : 100%;
    text-align : center;
}

#login_form td{
    height : 30px;
    line-height : 30px;
}

#login_form label{
    width : 50px;
}

#login_form input{
    width : 200px;
}

#login_submit{
    width : 250px;
    height : 25px;
    line-height : 25px;
}

