<html>
    <head>
        <title>{% block title %}Startup Manager{% end %}</title>
        <link rel="shortcut icon" href="{{static_url("favicon.ico")}}" type="images/x-icon"/>
        <link rel="Stylesheet" href="{{static_url("css/main.css")}}" type="text/css"/> 
        {% block css %}
        {% end %}
    </head>
    <body>
        <div class="container">
            <div id="header">
                <div class="user_bar">
                    {% if current_user is None %}
                        <span>Please <a href="/backendlogin">login</a></span>
                    {% end %}
                    {% if current_user is not None %}
                        <span>
                            <form id="logout_form" action="/backendlogout" method="post">
                                {% module xsrf_form_html() %}
                            </form>
                            {{current_user}}
                            <a href="" onclick="javascript:document.getElementById('logout_form').submit();return false;">logout</a>
                        </span>
                    {% end %}
                </div> 
                <h1>Startup Manager</h1>
                <ul class="nav">
                    <li>
                        <a href="/backend" id="nav_current">首页</a>
                    </li>
                    <li>
                        <a href="#">用户管理</a>
                        <ul class="sub_nav">
                            <li><a href="">添加用户</a></li>
                            <li><a href="/adminpwd">修改密码</a></li>
                            <li><a href="/backenduser">用户信息修改</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">权限管理</a>
                        <ul class="sub_nav">
                            <li><a href="">添加权限</a></li>
                            <li><a href="">用户权限管理</a></li>
                            <li><a href="">添加约束</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">菜单管理</a>
                        <ul class="sub_nav">
                            <li><a href="/backendmenu">添加菜单</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="content">
                {% block content %}
                {% end %}
            </div>
            <div id="footer">
                <h6>designed by simplemx, powered by tornado</h6>
            </div> 
        </div>
        {% block js %}
        {% end %}
    </body>
</html>
