<html>
    <head>
        <title>菜单管理</title>
        <link rel="shortcut icon" href="{{static_url("favicon.ico")}}" type="images/x-icon"/>
        <link rel="Stylesheet" href="{{static_url("css/main.css")}}" type="text/css"/> 
        <link rel="stylesheet" href="{{static_url("css/zTreeStyle.css")}}" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <div id="header">
                <div class="user_bar">
                    {% if current_user is None %}
                        <span>Please <a href="/backendlogin">login</a></span>
                    {% end %}
                    {% if current_user is not None %}
                        <span>
                            <form id="logout_form" action="/backendlogout" method="post">
                                {% module xsrf_form_html() %}
                            </form>
                            {{current_user}}
                            <a href="" onclick="javascript:document.getElementById('logout_form').submit();return false;">logout</a>
                        </span>
                    {% end %}
                </div> 
                <h1>Startup Manager</h1>
                <ul class="nav">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">用户管理</a>
                        <ul class="sub_nav">
                            <li><a href="">添加用户</a></li>
                            <li><a href="">修改密码</a></li>
                            <li><a href="">用户信息修改</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">权限管理</a>
                        <ul class="sub_nav">
                            <li><a href="">添加权限</a></li>
                            <li><a href="">用户权限管理</a></li>
                            <li><a href="">添加约束</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">菜单管理</a>
                        <ul class="sub_nav">
                            <li><a href="/backendmenu">添加菜单</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="content">
                <div class="left_panel">
                    <ul id="menu_tree" class="ztree">
                    </ul>
                </div>
                <div class="main_panel">
                    <form id="menu_form" type="post" action="/backendmenu">
                        {% module xsrf_form_html() %}
                        <input type="hidden" id="mode" name="mode" value ="2" />      
                            <table class="form_fields">
                                <tr>
                                    <th colspan="2">菜单信息</th>
                                </tr>
                                <tr>
                                    <td><label for="menu_id">菜单ID</label></td>
                                    <td><input type="text" disabled="disabled" id="menu_id" name="menu_id" value="" /></td>
                                </tr>
                                <tr>
                                    <td><label for="menu_name">菜单名称</label></td>
                                    <td><input type="text" id="menu_name" name="menu_name" value="" /></td>
                                </tr>
                                <tr>
                                    <td><label for="url">菜单路径</label></td>
                                    <td><input type="text" id="url" name="url" value=""/></td>
                                </tr>
                                <tr>
                                    <td><label for="parent_id">父菜单</label></td>
                                    <td><input type="text" id="parent_id" name="parent_id" value="" /></td>
                                </tr> 
                                <tr>
                                    <td class="btn_area" colspan="2">
                                        <input type="button" onclick="javascript:return addMenu();" value="新增"/>
                                        <input type="button" onclick="javascript:return deleteMenu();" value="删除" />
                                        <input type="submit" value="提交"/>
                                    </td>
                                </tr>
                            </table>
                    </form>  
                </div>
            </div>
            <div id="footer">
                <h6>designed by simplemx, powered by tornado</h6>
            </div> 
        </div>
        <script type="text/javascript" src="{{static_url("js/jquery-1.7.2.min.js")}}"></script>
        <script type="text/javascript" src="{{static_url("js/jquery.ztree.core-3.5.min.js")}}"></script>
        <script type="text/javascript">
var EDIT = 1, ADD = 2, DELE = 3;

var deleteMenu = function(){
    if ($("#mode").val() === ADD) {
        alert("请选择菜单");
    } else if (window.confirm("是否删除" + $("#menu_name").val() + "?")) {
        $("#mode").val(DELE);  
        $("#menu_form").submit();
    }
    return false;
};
var addMenu = function(){
    $("#menu_id").val("");
    $("#menu_name").val("");
    $("#url").val("");
    $("#parent_id").val("");
    $("#menu_id").prop("disabled", false);  
    $("#mode").val(ADD);
    return false;
};
var setting = {
    callback : {
        onClick : function(event, treeId, treeNode, clickFlag) {
            //show menu info in form
            if (treeNode) {
                $("#menu_id").val(treeNode.menu_id);
                $("#menu_name").val(treeNode.menu_name);
                $("#url").val(treeNode.url);
                $("#parent_id").val(treeNode.parent_id);
                $("#mode").val(EDIT);
            } 
		}
    },
    data: {
        key : {
            name : "menu_name"
        },
		simpleData: {
		    enable: true,
            idKey : "menu_id",
            pIdKey : "parent_id",
            rootPId : null
		}
				
	}
			
};
var zNodes ={% raw json_encode(menus)%};

$(document).ready(function(){
	$.fn.zTree.init($("#menu_tree"), setting, zNodes);
});
            
        </script>
    </body>
</html>


