{% extends "base.html" %}
{% block title %}业务办理{% end %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">业务办理</li>
    </ol>
    <h2>业务办理</h2>
<ol class="ui-step ui-step-blue ui-step-3">
    <li class="ui-step-start ui-step-done">
        <div class="ui-step-line">-</div>
        <div class="ui-step-icon">
            <i class="iconfont">&#xf02f;</i>
            <i class="ui-step-number">1</i>
            <span class="ui-step-text">选择套餐</span>
        </div>
    </li>
    <li class="ui-step-active">
        <div class="ui-step-line">-</div>
        <div class="ui-step-icon">
            <i class="iconfont">&#xf02f;</i>
            <i class="ui-step-number">2</i>
            <span class="ui-step-text">办理套餐</span>
        </div>
    </li>
    <li class="ui-step-end">
        <div class="ui-step-line">-</div>
        <div class="ui-step-icon">
            <i class="iconfont">&#xf02f;</i>
            <i class="iconfont ui-step-number">&#xF029;</i>
            <span class="ui-step-text">办理结果</span>
        </div>
    </li>
</ol>
<form id="submit-form" action="/operatebusi/userinfo" method="POST" role="form">
    {% module xsrf_form_html() %}
    <div class="form-group">
        <label for="cond1">确认信息</label>
        <input placeholder="请输入信息" type="text" name="cond1" class="form-control">
    </div>
    <div class="form-group">
        <label for="cond2">请输入信息2</label>
        <input type="text" name="cond2" placeholder="请输入信息" class="form-control">
    </div>
    <input type="hidden" name="service_id" value="{{service_id}}">
    <button id="submit-btn" class="btn btn-default">提交</button>
</form>
{% end %}
{% block js %}
<script>
    $(function(){
        $("#submit-form #submit-btn").click(function(){
            $("#submit-form").submit()
            return false
        })
    })
</script>
{% end %}
