{% extends "base.html" %}
{% block title %}业务办理{% end %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">业务办理</li>
    </ol>
    <h2>业务办理</h2>
<ol class="ui-step ui-step-blue ui-step-3">
    <li class="ui-step-start ui-step-active">
        <div class="ui-step-line">-</div>
        <div class="ui-step-icon">
            <i class="iconfont">&#xf02f;</i>
            <i class="ui-step-number">1</i>
            <span class="ui-step-text">选择套餐</span>
        </div>
    </li>
    <li >
        <div class="ui-step-line">-</div>
        <div class="ui-step-icon">
            <i class="iconfont">&#xf02f;</i>
            <i class="ui-step-number">2</i>
            <span class="ui-step-text">办理套餐</span>
        </div>
    </li>
    <li class="ui-step-end">
        <div class="ui-step-line">-</div>
        <div class="ui-step-icon">
            <i class="iconfont">&#xf02f;</i>
            <i class="iconfont ui-step-number">&#xF029;</i>
            <span class="ui-step-text">办理结果</span>
        </div>
    </li>
</ol>
<table class="table table-hover">
    <thead>
        <tr>
            <th>序号</th>
            <th>名称</th>
            <th>价钱</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for index, service in enumerate(services) %}
        <tr>
            <td>{{index+1}}</td>
            <td>{{service["name"]}}</td>
            <td>{{service["price"]}}元</td>
            <td><button class="btn btn-default">选择</button></td>
        </tr>
        {% end %}
    </tbody>
</table>
<form id="submit-form" action="/operatebusi/userinfo" method="GET" role="form">
    {% module xsrf_form_html() %}
    <input type="hidden" name="service-id"></input> 
</form>
{% end %}
{% block js %}
<script>
    $(function(){
        $(".table").on("click", ".btn", function(){
            var $form = $("#submit-form"),
                service_id = $(this).parent().parent().children().first().text();
                
            $("input[name=service-id]", $form).val(service_id)
            $form.submit()
            return false
            
        }).on("click", "tr", function(){
            return false
        })
    })
</script>
{% end %}

